# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
.eggs/
*.sqlite3

# Django
db.sqlite3
*.log
local_settings.py
media/
staticfiles/
.env
.env.*

# Django migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# PostgreSQL
*.pgsql

# Node.js / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build files
build/
dist/

# macOS
.DS_Store

# VS Code
.vscode/

# JetBrains IDEs (e.g., PyCharm)
.idea/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
coverage.xml
*.cover
.hypothesis/

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Backup files
*.bak
*.swp

# Other
*.log
*.pot
*.mo
